
/*textebi*/
.textcont {
    
  max-width: 800px;
  margin: 0 auto;
    text-align: center;
}

.h1 {
    position: absolute;
    bottom: 450px; /* ან top, center, რაც გინდა */
    right: 800px;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 60px;
    display: inline-block;
    text-shadow:
    0 0 10px cyan,
    0 0 20px cyan,
    0 0 40px cyan;
}

@media (max-width: 768px) {
  .h1 {
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    text-align: right;
  }

  .h1 {
    position: absolute; 
    bottom: 800px; /* ან top, center, რაც გინდა */
    right: 180px;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 40px;
    display: inline-block;
    text-shadow:
    0 0 10px cyan,
    0 0 20px cyan,
    0 0 40px cyan;
}
}


/*baneri*/
header {
    background-color: gray;
    border-bottom:  5px solid black ;
}

.banerimg {
    text-align: center;
}

.baner {
    z-index: 0;
    float: right;
    margin-left: 20px;
    max-width: 100%;
    height: auto;
    width: 40%;
    display: inline-block;
}

@media (max-width: 768px) {
  .right-photo {
    float: none;
    display: block;
    margin: 20px auto;
  }
}

/*footer*/
:root {
  --facebook: #1877f2;
  --instagram: #e4405f;
  --youtube: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

/* ========== FOOTER ========== */
footer {
  background: #000;
  height: 50vh; /* ნახევარი ეკრანის სიმაღლე */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible; /* აუცილებელია ანარეკლისთვის */
  padding: 0 20px;
}

/* აიქონის სტილი */
.icon-box a {
  margin: 10px;
  display: inline-block;
  font-size: 40px;
  color: white;
  padding: 25px;
  border-radius: 20px;
  background: #111;
  text-decoration: none;
  transition: 0.3s;
  -webkit-box-reflect: below 5px linear-gradient(transparent, rgba(0, 0, 0, 0.3));
}

/* Facebook სტილი */
.icon-box.facebook a {
  box-shadow: 0 0 5px var(--facebook);
}
.icon-box.facebook a:hover {
  background: var(--facebook);
  box-shadow: 0 0 5px var(--facebook),
              0 0 25px var(--facebook),
              0 0 50px var(--facebook),
              0 0 200px var(--facebook);
}

/* Instagram სტილი */
.icon-box.instagram a {
  box-shadow: 0 0 5px var(--instagram);
}
.icon-box.instagram a:hover {
  background: var(--instagram);
  box-shadow: 0 0 5px var(--instagram),
              0 0 25px var(--instagram),
              0 0 50px var(--instagram),
              0 0 200px var(--instagram);
}

/* YouTube სტილი */
.icon-box.youtube a {
  box-shadow: 0 0 5px var(--youtube);
}
.icon-box.youtube a:hover {
  background: var(--youtube);
  box-shadow: 0 0 5px var(--youtube),
              0 0 25px var(--youtube),
              0 0 50px var(--youtube),
              0 0 200px var(--youtube);
}

/* scrollbar არ გამოჩნდეს მობილურზე */
.icon-container::-webkit-scrollbar {
  display: none;
}
.icon-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
